<mat-card *ngIf="course">
  <h2 style="color: white;">{{ course.nombre }}</h2>
  <mat-card-header>
    <mat-card-subtitle class="description">DOCENTE: {{ course.docente }}</mat-card-subtitle>
    <mat-card-subtitle class="description">CANT. HORAS: {{ course.horas }}</mat-card-subtitle>
    <mat-card-subtitle class="description">FECHA INICIO: {{ course.fechaInicio | date: 'dd/MM/yyyy' }}</mat-card-subtitle>
    <mat-card-subtitle class="description">FECHA FIN: {{ course.fechaFin | date: 'dd/MM/yyyy' }}</mat-card-subtitle>
    <mat-card-subtitle class="description">INSCRIPTOS: {{ course.cantAlumnos?.length || 0 }}</mat-card-subtitle>
       
  </mat-card-header>
  <div fxLayout="column" fxLayoutGap="10px">
     
    <button mat-raised-button (click)="mostrarLista()">
      {{ lista ? 'Ocultar Lista' : 'Mostrar Lista' }}
    </button>

   
    <div *ngIf="lista">
      <ol style=" color: #ffffff;">
        <li *ngFor="let alumno of alumnosInscritos">
          {{ alumno.nombre }} {{ alumno.apellido }}
        </li>
      </ol>
    </div>
  </div>
  <mat-dialog-actions fxLayoutAlign="end center">
    <button mat-dialog-close mat-button>Volver</button>
  </mat-dialog-actions>
</mat-card>
