<h2>INSCRIPCIONES</h2>

<div *ngIf="isLoading">
    <mat-spinner></mat-spinner>
</div>

<div *ngIf="!isLoading" style="margin-top: 40px;">
    <p class="mat-body-1" style=" text-align: center; color: white;"> CANTIDAD DE ALUMNOS: {{ totalAlumnos }}</p>
</div>



<div style="display: flex; justify-content: space-around; margin-top: 40px;">

    <button (click)="openDialogI()" mat-flat-button>
        <mat-icon>add</mat-icon> INSCRIBIR
    </button>

    <button (click)="openDialogD()" mat-flat-button>
        <mat-icon>delete</mat-icon> DESUSCRIBIR
    </button>
        
</div>

<button (click)="openDialog()" mat-flat-button style="display: block; margin: 40px auto; text-align: center;">
    <mat-icon>add</mat-icon> ALTA ALUMNO 
</button>