<h2>INSCRIPCION</h2>
<mat-form-field appearance="fill">
  <mat-label>Alumno</mat-label>
  <mat-select [(ngModel)]="selectedAlumnoId" required>
    <mat-option *ngFor="let alumno of alumnos" [value]="alumno.id">{{ alumno.nombre }} {{ alumno.apellido }}</mat-option>
  </mat-select>

</mat-form-field>

<mat-form-field appearance="fill">
  <mat-label>Curso</mat-label>
  <mat-select  [(ngModel)]="selectedCursoId" required>
    <mat-option *ngFor="let curso of cursos" [value]="curso.id">{{ curso.nombre }}</mat-option>
  </mat-select>

</mat-form-field>

<mat-dialog-actions>
  <button mat-dialog-close mat-button > Cancelar </button>
  <button (click)="onSubmit()" mat-button> Inscribir </button>
  <button (click)="openDialog()" mat-button><mat-icon>add</mat-icon> Agregar Alumno </button>
 
</mat-dialog-actions>