<h2 mat-dialog-title> 
    {{ inscribirAlumno ? "Inscribir: "  : "Inscribir Alumno" }} 
  </h2>
  
  <mat-dialog-content>
    <form [formGroup]="inscripcionForm">
      <mat-form-field class="w-full">
        <mat-label> Nombre:  </mat-label>
        <input formControlName="alumno" matInput />
        <mat-error>El campo es obligatorio</mat-error>
      </mat-form-field>
  
      <mat-form-field class="w-full">
        <mat-label> Curso:  </mat-label>
        <input formControlName="curso" matInput />
        <mat-error>El campo es obligatorio</mat-error>
      </mat-form-field>
  
      <mat-form-field class="w-full">
        <mat-label>Fecha de Inscripción</mat-label>
        <input formControlName="fechaInscripcion" matInput [matDatepicker]="picker">
        <mat-hint>DD/MM/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </form>
  </mat-dialog-content>
  
  <mat-dialog-actions>
    <button mat-dialog-close mat-button> Cancelar </button>
    <button (click)="onSubmit()" mat-button> Guardar </button>
  </mat-dialog-actions>