<h2 mat-dialog-title>
  {{ editarCurso ? "Editando: " : "Crear Curso" }}
</h2>

<mat-dialog-content>
  <form [formGroup]="courseForm">
    <mat-form-field class="w-full">
      <mat-label>Nombre del curso:</mat-label>
      <input formControlName="nombre" matInput />
      <mat-error>El campo es obligatorio</mat-error>
    </mat-form-field>

    <mat-form-field class="w-full">
      <mat-label>Docente a cargo:</mat-label>
      <input formControlName="docente" matInput />
      <mat-error>El campo es obligatorio</mat-error>
    </mat-form-field>

    <mat-form-field class="w-full">
      <mat-label>Cantidad de alumnos:</mat-label>
      <input formControlName="alumnos" type="number" min="0" matInput />
      <mat-error>El campo es obligatorio</mat-error>
    </mat-form-field>

    <mat-form-field class="w-full">
      <mat-label>Fecha de inicio - Fecha fin</mat-label>
      <mat-date-range-input [rangePicker]="picker">
        <input matStartDate formControlName="fechaInicio" placeholder="Fecha inicio" matInput />
        <input matEndDate formControlName="fechaFin" placeholder="Fecha fin" matInput />
      </mat-date-range-input>
      <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-date-range-picker #picker></mat-date-range-picker>
    </mat-form-field>
  </form>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-dialog-close mat-button>Cancelar</button>
  <button (click)="onSubmit()" mat-button>Guardar</button>
</mat-dialog-actions>
