.profile-avatar {
    background-image: url('/assets/images/profile.jpg');;
    background-size: cover;
    background-position: center;
    width: 160px;
    height: 160px;
    border-radius: 50%;
  }

  