<mat-card *ngIf="alumno">
    <h2 style="color: white;"> {{ alumno | nombreCompleto }}</h2>
    <mat-card-header >
         <mat-card-subtitle class="description">FECHA DE ALTA: {{alumno.fechaInscripcion | date: 'dd/MM/yyyy'}} </mat-card-subtitle>
         <mat-card-subtitle class="description">CURSOS: {{alumno.cursos}}</mat-card-subtitle>
         
    </mat-card-header>
   
    <mat-dialog-actions fxLayoutAlign="end center">
      <button mat-dialog-close mat-button>Volver</button>
  
    </mat-dialog-actions>
  </mat-card>